 # Redis配置
REDIS_HOST=140.245.62.159
REDIS_PORT=36379
REDIS_PASSWORD=fxfun

# 数据库配置
DB_PATH=database.sqlite

# 前端 API 基础 URL
VITE_PORT=20022
VITE_API_BASE_URL=http://your-ip:20021

# 后端允许的前端来源
ALLOWED_ORIGINS=http://your-ip:20022

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
JWT_SECRET=fxfun